
body {
    background-color: #bad4dd;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 0;
    gap: 250px;
}

.create-note {
    background-color: transparent;
    border: 0;
    align-items: center;
    justify-items: center;
    margin-right: 15px;


}
.modal-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 5px;
    position: fixed;
    width: 100%;
    height: 100%;
}
.modal-screen.hidden {
    visibility: hidden;
    opacity: 0;
}

.modal {
    width: 550px;
    height: 300px;
    border-radius: 6px;
    background-color: rgba(24, 24, 27, 0.788);
    align-items: center;
    justify-content: center;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.h3 {
    font-family:'Times New Roman', Times, serif;
}

.main {
    align-items: center;
}


.text {
    width: 480px;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: rgba(46, 46, 53, 0.575);
    display: flex;
}
.color-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 24px;
    height: 24px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 9999px;
}