
body {
    background-color: #bad4dd;
}

.aside-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 0;
    gap: 250px;
}

.create-note {
    background-color: transparent;
    border: 0;
    align-items: center;
    justify-items: center;
    margin-right: 15px;
    cursor: pointer;
}

/* Notes Content */

.content {
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content: center;
}

.notes-container {
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content: center;
}

/* Modal */

.modal-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 5px;
    position: fixed;
    width: 100%;
    height: 100%;
}

.modal-screen.hidden {
    visibility: hidden;
    opacity: 0;
}

.modal {
    width: 550px;
    height: 300px;
    border-radius: 6px;
    background-color: rgba(24, 24, 27, 0.788);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 5px;
    text-align: center;
    line-height: 1.6;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.x-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.create-title {
    font-family:'Times New Roman', Times, serif;
}

.main {
    align-items: center;
}


.text {
    width: 480px;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: rgba(46, 46, 53, 0.575);
    display: flex;
}

.create {
    cursor: pointer;
}

.cancle {
    cursor: pointer;
}
/* Color Box */

.colors {
    display: flex;
    align-items: center;
    gap: 5px;
}

.color-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 24px;
    height: 24px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 9999px;
}

/* Content */

.container {
    display: flex;
}

/* Search bar */

.search-notes {
    background: transparent;
    border: 0;
}

.search-card {
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.search-btn {
    background: transparent;
    border: 0;
    cursor: pointer;
}


/* Notes */

.note {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
