
body {
    background-color: rgba(0, 0, 0, 0.849);
}

.modal-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 5px;
    position: fixed;
    width: 100%;
    height: 100%;
}
.modal-screen.hidden {
    visibility: hidden;
    opacity: 0;
}

.modal {
    width: 550px;
    height: 300px;
    border-radius: 6px;
    background-color: rgba(24, 24, 27, 0.788);
    align-items: center;
    justify-content: center;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.h3 {
    font-family:'Times New Roman', Times, serif;
}

.main {
    align-items: center;
}


.text {
    width: 480px;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: rgba(46, 46, 53, 0.575);
    display: flex;
}