
body {
    background-color: #bad4dd;
}

.aside-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 0;
    gap: 250px;
}

/* Search bar */

.search-notes {
    background: transparent;
    border: 0;
}

.search-card {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 10px;
    border-color: black;
}

.search-btn {
    background: transparent;
    border: 0;
    cursor: pointer;
}


.create-note {
    background-color: transparent;
    border: 0;
    align-items: center;
    justify-items: center;
    margin-right: 15px;
    cursor: pointer;
}


/* Modal */

.modal-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 5px;
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0;
}

.modal-screen.hidden {
    visibility: hidden;
    opacity: 0;
}

.modal {
    width: 550px;
    height: 320px;
    border-radius: 6px;
    background-color: rgba(24, 24, 27, 0.788);
    align-items: stretch;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 5px;
    text-align: center;
    line-height: 1.6;
    overflow: hidden;
    box-sizing: border-box;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: 10px;
    margin: 5px;
}

.x-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.create-title {
    font-family:'Times New Roman', Times, serif;
}

.main {
    align-items: center;
    margin-left: 5px;
}


.text {
    width: 524px;
    height: 140px;
    align-items: center;
    justify-content: center;
    background-color: rgba(46, 46, 53, 0.575);
    display: flex;
    color: white;
    resize: none;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
    align-items: center;
    margin: 0;
    position: static;
}

.create {
    cursor: pointer;
    border-radius: 3px;
    overflow: hidden;
    padding: 4px;
}

.cancle {
    cursor: pointer;
    border-radius: 3px;
    overflow: hidden;
    padding: 4px;
}

/* Color Box */

.colors {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
}

.colors-title {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 9px;
}

.color-list {
    display: flex;
    gap: 3px;
    margin-left: 9px;
}

.color-box {
    position: relative;
    display: flex;
    width: 24px;
    height: 24px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 9999px;
}

.color-box.selected {
    border: 1px;
    border-color: lightgray;
    
}


/* Content */

.container {
    display: flex;
}


/* Notes Content */

.content {
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content: center;
}

.notes-container {
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content: center;
    gap: 15px;
}

/* Notes */

.note {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.note-box {
    display: flex;
    flex-direction: column;
    width: 400px;
    position: static;
    align-items: flex-start;
    justify-content: flex-end;
    overflow: hidden;
    border-radius: 5px;
    padding: 10px;
    margin: 0;
    background-color: #0891b2;
    border-radius: 6px;
}

.delete-btn {
    cursor: pointer;
    overflow: hidden;
    background: transparent;
    border: 0;
    width: 30px;
    height: 30px;
}