
body {
    background-color: #000000ec;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

.music-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.music {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 5px;
}
.cover-img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
}
.cover-img:hover {
    outline: 1px solid #a1a1a191;
}
.titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.music-title {
    font-size: 21px;
    height: 0px;
}
.singer-name {
    font-size: 18px;
    height: 25px;
}

.footer-content {
  position: static;
  top: 0px;
  right: 0px;
  display: flex;
  height: 6rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  background-color: #000000;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.buttons * {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
}
.buttons button img {
    display: block;
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
}
.buttons * :hover {
    border-radius: 90px;
    background-color: #ffffff57;
    box-shadow: 0px 0px 0px 0px #2727277a;
    align-items: center;
    justify-content: center;
}