
body {
    background-color: #000000ec;
    color: #ffffff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 50px;
}

.music-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #52525b4d;
  padding: 20px;
  padding-bottom: 15px;
  border-radius: 5px;
  width: 250px;
  height: 250px;
}

.music {
    min-width: 250px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    flex: 0 0 250px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.cover {
  display: flex;
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}
.cover-img  {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    display: block;
    margin: auto;
}
.cover-btn {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}
.play-btn {
  background: transparent;
  border: 0;
  cursor: pointer;
  background-color: #059669;
  border-radius: 9999px;
  width: 48px;
  height: 48px;
  opacity: 0;
}
.music:hover .cover > img {
  filter: brightness(0.5) blur(2px);
  transform: scale(1.05);
}
.music:hover .play-btn {
  opacity: 1;
}
.song-name {
    display: block;
    align-items: center;
    justify-content: center;
    gap: 2px;
    color: white;
    overflow: hidden;
    height: 40px;
}

.main-player{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    background-color: #000000;
    padding: 10px;
    gap: 20px;
}
.controls {
    display: flex;
    gap: 10px;
}
.controls * {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    width: 30px;
    height: 30px;
}
.controls button img {
    display: flex;
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
}
.controls * :hover {
    border-radius: 90px;
    background-color: #ffffff57;
    box-shadow: 0px 0px 0px 0px #2727277a;
    align-items: center;
    justify-content: center;
}
input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    background: #ffffffd0;
    height: 2.5px;
}

.music-bar {
    width: 600px;
    height: 2.5px;
    border-radius: 0;
    transition: all 0.3s ease;
    margin-bottom: 7px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}
.input:hover {
    cursor: pointer;
}

.volume-card {
    position: absolute;
    left: 0;
    bottom: 31px;
    width: 150px;
    padding-left: 20px;
}
.volume {
    -webkit-appearance: none;
    appearance: none;
    width: 120px;
    height: 4px;
    background: #2c2929;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}