
body {
    background-color: #000000ec;
    color: #ffffff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 65px;
    gap: 20px;
    padding: 50px;
}

.music-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #52525b4d;
  padding: 20px;
  padding-bottom: 15px;
  /* overflow-x: auto; */
  scroll-snap-type: x mandatory;
  border-radius: 5px;
  width: 250px;
  height: 250px;
}
.music-card::-webkit-scrollbar {
    display: none;
}
.music {
    min-width: 250px;
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    flex: 0 0 250px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.music:hover {
    cursor: pointer;
    .play-btn {
        opacity: 1;
    }
}
.cover {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 15px;
    padding: 15px;
    align-items: center;
    justify-content: center;
}
.cover-img  {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    display: block;
    margin: auto;
}
.play-btn {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    background-color: #059669;
    /* opacity: 0; */
    top: 50%;
    left: 50%;
}
.song-name {
    display: block;
    align-items: center;
    justify-content: center;
    gap: 2px;
    color: white;
}

.footer-content {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 65px;
    width: 100%;
    align-items: center;
    justify-content: center;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    background-color: #000000;
    padding: 12px;
}
.buttons {
    display: flex;
    gap: 10px;
}
.buttons * {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    width: 30px;
    height: 30px;
}
.buttons button img {
    display: flex;
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
}
.buttons * :hover {
    border-radius: 90px;
    background-color: #ffffff57;
    box-shadow: 0px 0px 0px 0px #2727277a;
    align-items: center;
    justify-content: center;
}