
body {
    background-color: #000000ec;
    color: #ffffff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    padding-bottom: 65px;
}

.musics-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 0.375rem;
  background-color: #52525b4d;
  padding: 0.75rem;
}
.cover-img  {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}
.cover-img:hover {
    outline: 1px solid #a1a1a191;
}
.titles {
    display: block;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
/* .music-title {
    font-size: 21px;
    height: 0px;
}
.singer-name {
    font-size: 18px;
    height: 25px;
} */

.footer-content {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 65px;
    width: 100%;
    align-items: center;
    justify-content: center;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    background-color: #000000;
    padding: 12px;
}
.buttons {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    gap: 10px;
}
.buttons * {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    width: 30px;
    height: 30px;
    /* align-items: center;
    justify-content: center; */
}
.buttons button img {
    display: flex;
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
}
.buttons * :hover {
    border-radius: 90px;
    background-color: #ffffff57;
    box-shadow: 0px 0px 0px 0px #2727277a;
    align-items: center;
    justify-content: center;
}