
body {
    background-color: #f2f0ef;
}
.music-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.music {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 5px;
}
.cover-img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
}
.cover-img:hover {
    outline: 1px solid #f8ea97e0;
}
.titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.music-title {
    font-size: 21px;
    height: 0px;
}
.singer-name {
    font-size: 18px;
    height: 25px;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.buttons * {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
}
.buttons * :hover {
    border-radius: 90px;
    background-color: #cbced198;
    box-shadow: 0px 0px 0px 0px #cbced1be;
    align-items: center;
    justify-content: center;
}
