
body {
    background-color: #000000ec;
    color: #ffffff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 50px;
}

.music-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #52525b4d;
  padding: 20px;
  padding-bottom: 15px;
  border-radius: 5px;
  width: 250px;
  height: 250px;
}

.music {
    min-width: 250px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    flex: 0 0 250px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.cover {
  display: flex;
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}
.cover-img  {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    display: block;
    margin: auto;
}
.cover-btn {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}
.play-btn {
  background: transparent;
  border: 0;
  cursor: pointer;
  background-color: #059669;
  border-radius: 9999px;
  width: 48px;
  height: 48px;
  opacity: 0;
}
.music:hover .cover > img {
  filter: brightness(0.5) blur(2px);
  transform: scale(1.05);
}
.music:hover .play-btn {
  opacity: 1;
}
.song-name {
    display: block;
    align-items: center;
    justify-content: center;
    gap: 2px;
    color: white;
    overflow: hidden;
    height: 40px;
}

.main-player{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    height: 120px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
}

.volume-card {
    display: flex;
    align-items: center;
    width: 150px;
    margin-left: 30px;
}
.volume {
    -webkit-appearance: none;
    appearance: none;
    width: 120px;
    height: 4px;
    background: none;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}
.volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: white;
    border: none;
    margin-top: -6px;
    
}
.volume::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    height: 4px;
    background: transparent;
}
.center-player {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.volume-card input, .music-bar {
    margin-top: 0;
}
.music-bar {
    display: block;
    height: 4px;
    width: 600px;
    margin: 0;
    transition: all 0.3s ease;
}
.controls {
    display: flex;
    gap: 25px;
}
.controls * {
    display: flex;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    width: 30px;
    height: 30px;
    gap: 20px;
}
.controls button img {
    display: flex;
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
}
.controls * :hover {
    border-radius: 90px;
    background-color: #ffffff57;
    box-shadow: 0px 0px 0px 0px #2727277a;
    align-items: center;
    justify-content: center;
}
input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    background: #ffffffd0;
    height: 2.5px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}
.input:hover {
    cursor: pointer;
}
.volume-card, .music-detail {
    width: 220px;
}
.music-details {
    align-items: flex-end;
    width: 200px;
    font-size: 14px;
    text-align: right;
    margin-right: 30px;
    max-width: 220px;
    overflow: hidden;
}
.music-detail h4, .music-detail p{
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.music-name {
    font-size: 14px;
}
.artist {
    cursor: pointer;
    font-size: 13px;
}
.like-btn {
    background: transparent;
    border: 0;
    filter: brightness(0) invert(1);
    cursor: pointer;
}
.like-btn-img {
    background: transparent;
    width: 23px;
    height: 23px;
}