
body {
    background-color: #18181b;
} 

.wrapper {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    width: 700px; 
    gap: 1.25rem;
}

.open-modal-btn {
    background-color: rgb(6, 175, 121);
    color: white;
    cursor: pointer;
    border: 0px;
    border-radius: 5px;
    width: 85px;
    height: 30px;
    justify-content: center;
}
.open-modal-btn:hover {
    background-color: rgb(4, 124, 86);
}

 /* Modal */

.modal-screen {
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 0;
    left: 0;
    top: 38%;
    right: 0;
    align-items: center;
    justify-content: center;
    position: fixed;
}
.modal {
    width: 440px;
    height: 200px;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: #282828;
    border-radius: 5px;
}
.modal header{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 2.5rem;
   position: relative;
   width: 440px;
   height: 40px;
}
.modal header button{
    position: absolute; 
    left: 0.5rem;
    align-items:center ;
    justify-content: center;
    background-color: transparent;
    border: 0;
    top: 0;
}
.xBtn{
    width:  20px;
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 0.5rem;
    cursor: pointer;
    top: 0;
}

.modal header span{
    color: white;
    width: 67px;
    height: 24px;
    
}
.modal main {
  padding: 1rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.create{
    background-color: rgb(6, 175, 121);
    border-radius: 5px;
    border: 0cap;
    cursor: pointer;
}
.create:hover {
    background-color: rgb(4, 124, 86);
}

.cancle{
    background-color: rgb(220 38 38);
    border-radius: 5px;
    border: 0cap;
    cursor: pointer;
}
.cancle:hover {
    background-color: rgb(167, 30, 30);
}

.modal-screen.hidden {
    visibility: hidden;
    opacity: 0;
}

/* todo container */

.todos-container {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 200px;
    gap: 9px;
}

/* Delete Todo Btn */

.todo-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 650px;
    height: 35px;
    background-color: #3f3f4680;
    padding: 5px;
    border-style: solid;
    border-color: #ffffff94;
    border-width: 1px;
    border-radius: 3px;
}

.todo-article {
    display: flex;
    justify-content: space-between;
}
.delete-todo {
    display: flex;
    justify-content: space-between;
    width: 53px;
    height: 23px;
    cursor: pointer;
    background-color: rgb(220 38 38);
    color: white;
    border: 0px;
    border-radius: 2px;
}
.delete-todo:hover {
    background-color: rgb(167, 30, 30);
}

.delete-todo.hidden {
    visibility: hidden;
    opacity: 0;
}